.SignUpWrapper {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    font-family: "Poppins";
}
.SignUpWrapper h3 {
    color: var(--second);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}
.inputWrapper {
    margin-bottom: 17px;
}
.inputWrapper input {
    width: 100%;
    height: 2rem;
    padding-left: 7px;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}
.inputWrapper label {
   color: var(--second);
}
.SignUpBTN {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 3px;
    font-size: 0.95rem;
    margin: 1.2rem 0;
    background: var(--third);
    color: var(--first);
    letter-spacing: 0.4px;
    cursor: pointer;
}
.accountWrapper p {
    color: var(--second);
    font-size: 1rem;
}
.accountWrapper p:before,
.accountWrapper p:after {
    background: var(--second);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 13.2%;
}
.accountWrapper p:before {
    right: 0.625rem;
    margin-left: -50%;
}
.accountWrapper p:after {
    left: 0.625rem;
    margin-right: -50%;
}
.SignInLink {
    color: var(--third)
}
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }


