a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
:root {
  --first: #00192a;
  --second: #CCCCCC;
  --third: #EBCD23; 
  --fourth: #001321;
  --hover: #d3b81f;
}
body {
  font-family: "Poppins";
}

