.newsLetterWrapper {
    padding: 30px;
}
.newsLetterWrapper div {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--second);  
}
.newsLetterWrapper h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.newsLetterWrapper p {
    letter-spacing: 0.5px;
    line-height: 27px;
}

.newLetterEmail form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.newLetterEmail input {
    outline: none;
    width: 280px;
    height: 28px;
    border: none;
    border-radius: 3px 0 0 3px;
    padding-left: 8px;
}
.newLetterEmail button {
    width: 120px;
    height: 28px;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-size: 14px;
    color: var(--first);
    background: var(--third);
}
.newLetterEmail button:hover {
    background: var(--hover);
}
@media (max-width: 480px) {
    .newLetterEmail form {
        flex-direction: column;
       
    }
    .newLetterEmail input {
        border-radius: 3px;

    }
    .newLetterEmail button {
        border-radius: 3px;
        margin-top: 10px;
    }

}
@media (max-width: 320px) {
    .newsLetterWrapper {
        padding: 25px;
    }
    

}
