.contactUsWrapper {
    max-width: 300px;
    width: 100%;
    color: var(--second);
}
.formWrapper {
    display: flex;
    flex-direction: column;
}
.formWrapper label {
    font-size: 14px;
}
.formWrapper input {
    outline: none;
    height: 30px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
    margin: 5px 0 15px 0;
}
.formWrapper input::placeholder,
.formWrapper textarea::placeholder {
    font-family: "Poppins";
    font-size: 12.5px;
    letter-spacing: 1px;
}
.formWrapper textarea {
    outline: none;
    border: none;
    border-radius: 3px;
    margin: 5px 0 15px 0;
    padding-left: 5px;
}
.contactUsWrapper button {
    width: 90px;
    height: 28px;
    border: none;
    border-radius: 3px;
    color: var(--fourth);
    background: var(--third);
    cursor: pointer;
    letter-spacing: 1px;
}
.contactUsWrapper button:hover {
    background: var(--hover);
}
