.mainWrapper {
   margin: 70px 0;
}
.signOutWrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--second);
    background: var(--fourth);
    padding: 30px;
    border-radius: 3px;
}
.signOutWrapper h3 {
    font-size: 22px;
    letter-spacing: 0.4px;
}
.signOutWrapper button {
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    color: var(--first);
    background: var(--third);
    margin-top: 10px;
}
.signOutWrapper button:hover {
    background: var(--hover);
}

@media (max-width: 768px) {
    .mainWrapper {
        padding: 0 30px;
    }
}

@media (max-width: 480px) {
    .signOutWrapper h3 {
        font-size: 20px; 
    }
    .signOutWrapper button {
        width: 85px;
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .mainWrapper {
        padding: 0 15px;
    }
    .signOutWrapper h3 {
        font-size: 18px; 
    }
    .signOutWrapper button {
        width: 80px;
        height: 23px;
        font-size: 14px;
    }
}