.sliderBG {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 40%;
    transition: background-image 0.5s ease;
    position: relative;

}
.sliderStyle {
    height: 100%;
    position: relative;
}
.dotWrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -8px; 
    width: 100%; 
  
}
.dots {
    cursor: pointer;
    font-size: 50px;
    margin-left: 15px;
    color: var(--second);
}
@media (max-width: 768px) {
    .sliderBG {
        height: 400px;
    }

}
@media (max-width: 480px) {
    .sliderBG {
        height: 300px;
    }

}
@media (max-width: 320px) {
    .sliderBG {
        height: 200px;
    }

}